$text-color: #171738;
$menu-color: #8EF9F3;
$main-color: #FFD9CE;
$menu-btn-color: #EB717E;
$btn-color: #593C8F;
$title-font: 'Dancing Script', cursive;
$text-font: 'Rajdhani', sans-serif;
$button-font: 'Quicksand', sans-serif;

